<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p class="lead text-info">Esta es una aplicación hecha con Node JS en el backend y con Handlebars 
        como motor de plantillas para trabajar el frontend, además de utilizar 
        Bootstrap en el frontend también para darle el maquedado final a la app.</p>
            <p class="lead">Aquí prentendo crear el INDEX de la aplicación hecha con Node JS
        que tanto me ha costado estar practicando en la pc de mi hermano y por eso intento
        que quede de la mejor manera programada y que me pueda sentir orgulloso de haber 
        completado este ejercicio y por fin sentirme más cerca de aprender Node JS.</p>
    </div>
</div>