<div class="jumbotron mt-4">
    <h1 class="display-4">PDF RESUMES Nodejs and Mongodb</h1>
    <p>Esta es una pequeña app web que pretende ayudarte a crear tu Cv(Curriculum Vitae).
    </p>
    <p class="lead">Sientete libre de crear un usuario para guardar tus Cv con las configuraciones que están dispobibles
    </p>
    <p>Por si te interesa este el código fuente aquí está el repo:</p>
    <a href="/index" class="btn btn-primary btn-lg">Git Hub</a>
</div>
