<div class="col-md-6 col-sm-12 col-lg-12 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New Resume</h3>
        </div>
        <div class="card-body col-12">
            <form action="/resumes/new-resume" method="POST">
                <!--Nombre -->
                <div class="form-group">
                    <input  type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus>
                </div>
                <!--Edad -->
                <div class="form-group">
                    <input  type="text" name="edad" class="form-control" placeholder="Edad" autofocus>
                </div>
                <!--Direccion -->
                <div class="form-group">
                    <textarea  class="form-control" name="direccion" placeholder="Dirección"></textarea>
                </div>
                <!--Telefono -->
                <div class="form-group">
                    <input  type="number" name="telefono" class="form-control" placeholder="Telefono" autofocus>
                </div>
                <!--Celular -->
                <div class="form-group">
                    <input  type="number" name="celular" class="form-control" placeholder="Celular" autofocus>
                </div>
                <!--Email -->
                <div class="form-group">
                    <input  type="text" name="email" class="form-control" placeholder="Email" autofocus>
                </div>
                <!--DUI -->
                <div class="form-group">
                    <input  type="text" name="dui" class="form-control" placeholder="DUI" autofocus>
                </div>
                <!--NIT -->
                <div class="form-group">
                    <input  type="text" name="nit" class="form-control" placeholder="NIT" autofocus>
                </div>
                <!--Licencia -->
                <div class="form-group">
                    <input  type="text" name="licencia" class="form-control" placeholder="Licencia" autofocus>
                </div>
                <!--Nivel Academy -->
                <div class="form-group">
                    <input  type="text" name="nivel_acadmy" class="form-control" placeholder="Nivel Académico" autofocus>
                </div>
                 <!--Lugar Academy -->
                <div class="form-group">
                    <textarea  class="form-control" name="lugar_acadmy" placeholder="Lugar donde estudió"></textarea>
                </div>
                 <!--Formacion Técnica -->
                <div class="form-group">
                    <textarea  class="form-control" name="info_tec" placeholder="Formación Técnica"></textarea>
                </div>
                 <!--Otros Estudios -->
                <div class="form-group">
                    <textarea  class="form-control" name="otros_estudios" placeholder="Otros Estudios"></textarea>
                </div>
                 <!--Exp Laboral -->
                <div class="form-group">
                    <textarea  class="form-control" name="exp_laboral" placeholder="Exp Laboral"></textarea>
                </div>
                 <!--Conocimientos -->
                <div class="form-group">
                    <textarea  class="form-control" name="conocimientos" placeholder="Conocimientos"></textarea>
                </div>
                 <!--Skills -->
                <div class="form-group">
                    <textarea  class="form-control" name="skills" placeholder="Habilidades"></textarea>
                </div>
                <!--Nombre Ref Uno -->
                <div class="form-group">
                    <input  type="text" name="nombre_ref_uno" class="form-control" placeholder="Ref Personal Uno" autofocus>
                </div>
                <!--Numero Ref Uno -->
                <div class="form-group">
                    <input  type="number" name="numero_ref_uno" class="form-control" placeholder="Númeor Ref Uno" autofocus>
                </div>
                <!--Nombre Ref Dos -->
                <div class="form-group">
                    <input  type="text" name="nombre_ref_dos" class="form-control" placeholder="Ref Personal Dos" autofocus>
                </div>
                <!--Numero Ref Dos -->
                <div class="form-group">
                    <input  type="number" name="numero_ref_dos" class="form-control" placeholder="Númeor Ref Dos" autofocus>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        GUARDAR CV
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>