<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Specials Notes</h5>
    <p class="card-text">App in constant development.</p>
    <a href="/about" class="btn btn-primary">José Angel Azucena Méndez</a>
  </div>
</div>